/* GENERAL*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  font-family: "Rubik", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #374259;
  overflow-x: hidden;
}

p,
.nav-item {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 1px;
}

h1 {
  font-size: 7rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 3px;
  margin-bottom: 2rem;
}

h2 {
  font-size: 4rem;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: 2px;
  margin-bottom: 2rem;
}

h3 {
  font-size: 3.2rem;
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: 2px;
  margin-bottom: 2rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fbf3f3;

  /* because we want header sticky later */

  height: 9.6rem;
  padding: 0 4.8rem;

  position: relative;
}

.logo {
  height: 5rem;
}

.container-general {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 3.2rem;
}

.grid {
  display: grid;
  column-gap: 6.4rem;
  row-gap: 9.6rem;
  /* margin-bottom: 9.6rem; */
}

/* NAVIGATION */

.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 3.2rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #333;
  font-weight: 500;
  font-size: 1.8rem;

  transition: all 0.3;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #5c8984;
}

/* MOBILE */
.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;

  display: none;
}

.icon-mobile-nav {
  height: 4.8rem;
  width: 4.8rem;
  color: #374259;
}

.icon-mobile-nav[name="close-outline"] {
  display: none;
}

/* HERO*/

.section-hero {
  background-color: #fbf3f3;
  padding: 4.8rem 0;
}
.hero-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 3.2rem;
  align-items: center;
  gap: 2rem;
}
.hero-decor-main {
  width: 100%;
}
.text-title {
  font-size: 2rem;
  line-height: 1.6;
  margin-bottom: 4.8rem;
}
.main-heading {
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 1.05;
  letter-spacing: -0.5px;
}
.lydie-name {
  font-size: 2rem;
  letter-spacing: 0.5px;
}
.section-about {
  padding: 9.6rem 0;
  text-align: center;
}

.container-about {
  position: relative;
}

.portfolio-img {
  height: 400px;
  border-radius: 50%;
  margin-bottom: 2rem;
}

.decor-spray {
  position: absolute;
  left: 100px;
  top: 20px;
  z-index: -2;
}
.decor-3 {
  position: absolute;
  right: 10px;
  bottom: 10px;
  z-index: -1;
}

/* SKILLS */

.skills-heading,
.portfolio-heading {
  text-align: center;
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.skill-flex-container {
  display: flex;
  row-gap: 4rem;
  column-gap: 4rem;
}

.skill-deco-circle {
  align-self: flex-start;
}
.skill-deco-smudges {
  align-self: flex-end;
}

.container-skills {
  background-color: #eff3f3;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: start;
  gap: 8rem;
  padding: 6rem;
  justify-content: center;
}

.skill-icon {
  color: #5c8984;
  height: 3.2rem;
  width: 3.2rem;
  background-color: #cedcda;
  margin-bottom: 3.2rem;
  padding: 1.6rem;
  border-radius: 50%;
}

.skill-title {
  font-size: 2.4rem;
  color: #333;
  font-weight: 700;
  margin-bottom: 1.6rem;
}

.skill-text {
  font-size: 1.8rem;
  line-height: 1.8;
}

/* PORTFOLIO */
.section-portfolio {
  background-color: #aec4c2;
}

.portfolio-heading {
  color: #fbf3f3;
  padding-top: 5rem;
}

.portfolio {
  padding-bottom: 5rem;
  display: block;
}

/*FOOTER*/

.background-pink {
  background-color: #fbf3f3;
}

.footer {
  padding: 12.8rem 0;
}

.grid--footer {
  grid-template-columns: 1fr 1fr;
}

.logo-col {
  display: flex;
  flex-direction: column;
}

.footer-logo {
  display: block;
  margin-bottom: 3.2rem;
}

.social-links {
  list-style: none;
  display: flex;
  gap: 4rem;
}

.social-icon {
  height: 2.4rem;
  width: 2.4rem;
}

.copyright {
  font-size: 1.4rem;
  color: #5f687a;
  line-height: 1.6;
  margin-top: auto;
}

.footer-heading {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 4rem;
}

.contacts {
  font-style: normal;
  font-size: 1.6rem;
  line-height: 1.6;
}

.address {
  margin-bottom: 2.4rem;
}

.footer-nav {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.footer-link:link,
.footer-link:visited {
  text-decoration: none;
  font-size: 1.6rem;
  color: #5f687a;
  transition: all 0.3s;
}

.footer-link:hover,
.footer-link:active {
  color: #374259;
}

/*********************************/
/* BELLOW 1344px          1344/16px = 84 em*/
/*********************************/
@media (max-width: 84em) {
  .container-skills {
    grid-template-columns: 1fr;
    gap: 5rem;
    padding: 3rem;
  }
}

/*********************************/
/* BELLOW 1289px          1344/16px = 84 em*/
/*********************************/

@media (max-width: 80em) {
  .container-skills {
    grid-template-columns: 1fr;
    gap: 5rem;
    padding: 2rem;
  }
  .skill-deco-circle {
    height: 30rem;
  }
  .skill-deco-smudges {
    height: 30rem;
  }
  h1 {
    font-size: 5.5rem;
  }
}

/*********************************/
/* BELLOW 1000px        1344/16px = 84 em*/
/*********************************/

@media (max-width: 62em) {
  h1 {
    font-size: 4rem;
  }
  .skill-flex-container {
    flex-direction: column;
    margin: 0 12rem;
    position: relative;
  }
  .about {
    margin: 0 5rem;
  }
  .skill-deco-circle {
    height: 25rem;
    display: none;
  }
  .skill-deco-smudges {
    height: 25rem;
    display: none;
  }
}

/*********************************/
/* BELLOW 810px       810/16px = 50.625 em*/
/*********************************/

@media (max-width: 50em) {
  h1 {
    font-size: 3rem;
    font-weight: 700;
    line-height: 1;
    letter-spacing: 1px;
  }
  .skill-flex-container {
    margin: 0 8rem;
  }

  .footer {
    padding: 6rem 0;
  }
  .grid {
    column-gap: 1rem;
  }
  .address-col {
    padding-left: 2rem;
  }
}

/*********************************/
/* BELLOW 639px        1344/16px = 84 em*/
/*********************************/

@media (max-width: 40em) {
  .portfolio-img {
    margin-top: 4rem;
    height: 200px;
  }
  /* MOBILE NAVIGATION */
  .btn-mobile-nav {
    display: block;
    z-index: 9999;
  }

  .main-nav {
    background-color: rgba(255, 255, 255, 0.9);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(10px);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    transform: translateX(100%);

    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-in;

    /* 1) Hide it visually */
    opacity: 0;

    /* 2) Make it unaccessible to mouse and keyboard */
    pointer-events: none;

    /* 3) Hide it from screen readers */
    visibility: hidden;
  }

  .nav-open .main-nav {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0);
  }

  .nav-open .icon-mobile-nav[name="close-outline"] {
    display: block;
  }

  .nav-open .icon-mobile-nav[name="menu-outline"] {
    display: none;
  }

  .main-nav-list {
    flex-direction: column;
    gap: 4.8rem;
  }

  .main-nav-link:link,
  .main-nav-link:visited {
    font-size: 3rem;
  }
  .skill-flex-container {
    margin: 0 1rem;
  }
  .grid--footer {
    grid-template-columns: 1fr;
  }

  .address-col {
    grid-area: 1 / 1 / 2 / 2;
  }
  .container-about {
    padding-top: 13rem;
  }
  .hero-decor-main {
    display: none;
  }
  .text-title {
    text-align: center;
  }

  .hero-container {
    grid-template-columns: 1fr;
  }
}

.section-about {
  padding: 23rem 0 9rem 0;
}

/*********************************/
/* BELLOW 447px        1344/16px = 84 em*/
/*********************************/

@media (max-width: 28em) {
  .web-developer-text {
    padding: 0 2rem;
  }

  .section-about {
    padding: 9rem 0 6rem 0;
  }
}
